<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Users</title>
</head>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<body>
    <h1>Edit User 1</h1>
    <form action="{%url 'editprocess' id=user.id%}" method="POST">
        {% csrf_token %}
        <label for="first_name"><input type="text" name="first_name" value="{{user.first_name}}"></label>
        <label for="last_name"><input type="text" name="last_name" value="{{user.last_name}}"></label>
        <label for="Email"><input type="text" name="email"  value="{{user.email}}"></label>
        <button type="submit" value="edit">Update</button>
    </form>

    <a href="{%url 'show' id=user.id%}">Show</a>
    <a href="{%url 'index'%}">Go Back</a>
</body>
</html>