<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'Amadon/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h2>Amadon Store!</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dojo Tshirt</td>
                    <td>$19.99</td>
                    <td>
                        <form action="Amadon/buy" method="POST" id="shirt">
                            {% csrf_token %}
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <input type="hidden" name='price' value="19.99">
                            <input type="submit" value="Buy!">
                        </form>
                    </td>
                </tr>
                <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                    <form action="Amadon/buy" method="POST" id="sweater">
                        {% csrf_token %}
                        <select name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <input type="hidden" name='price' value="29.99">
                        <input type="submit" value="Buy!">
                    </form>
                </td>
            </tr>
            <tr>
                    <td>Dojo Cup</td>
                    <td>$4.99</td>
                    <td>
                        <form action="Amadon/buy" method="POST" id="cup">
                            {% csrf_token %}
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <input type="hidden" name='price' value="4.99">
                            <input type="submit" value="Buy!">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Algorithm Book</td>
                    <td>$49.99</td>
                    <td>
                        <form action="Amadon/buy" method="POST" id="book">
                            {% csrf_token %}
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <input type="hidden" name='price' value="49.99">
                            <input type="submit" value="Buy!">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>