<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylessheet" href="{% static 'time_display/static/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="time">
            <h1>The Current Time And Date</h1>
            <p>{{time}}</p>
        </div>
    </div>
</body>
</html>